<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.program.endtermexam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EndtermExam">
        <activity
            android:name=".EditStudentStatus"
            android:parentActivityName=".ViewAttendance"
            android:label="Edit Status"
            android:exported="false" />
        <activity
            android:name=".EditQuiz"
            android:exported="false" />
        <activity
            android:name=".TeacherDashboard"
            android:exported="false" />
        <activity
            android:name=".ProfileMenu"
            android:exported="false" />
        <activity
            android:name=".VerifyAccountMenu"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakeQuiz"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewGrades"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewQuiz"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAttendance"
            android:configChanges="orientation"
            android:parentActivityName=".Dashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewTopic"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCourse"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginMenu"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupMenu"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Courses"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>